
#red,#blue,#green,#white{
    width:100px;
    height:100px;	
    align-items: center;
}

h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 60px;
}

#crystals{
    float: right;
    margin-right: 100px;
}